@import 'mixins';
@import 'editor/windows';

.w-edit
{
    // div:empty 
    // {
    //     min-height: 100px;
    //     background: red;
    // }

    header.main-row
    {
        height: 30px;
    }

    footer.main-row
    {
        height: 30px;
    }
}

.w-editing
{
    .selectable
    {
        @include disable-user-select;

        pointer-events: none;

        [data-drag="true"] 
        {
        }
        
        [data-enable="true"] 
        {
        }
    }
}

.w-select-hover
{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.01);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(43, 147, 255, 0.9);
    -moz-box-shadow: 0px 0px 1px 1px rgba(43, 147, 255, 0.9);
    box-shadow: 0px 0px 1px 1px rgba(43, 147, 255, 0.9);

    &:after
    {
        content: "";
        @include box-absolute(-3px, -3px, -3px, -3px);
        //border: 1px solid rgba(43, 147, 255, 0.5);
    }
}

.w-ghost
{
    pointer-events: none;
    position: absolute;
    background: rgba(85, 83, 238, 0.11);
    border: 1px dashed rgba(85, 83, 238, 0.4);
    z-index: 500;
}

.w-select-area
{
    border: 1px dotted rgb(161, 161, 161);
}

.w-select-transform
{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.4);
    //cursor: move;
    z-index: 25;

    
    $border-offset: 16px;
    $corner-offset: 16px;
    $anchor-size: 6px;

    &:before
    {
        content: "";
        @include box(50%, 50%, 4px, 4px);
        background: rgb(43, 147, 255);
        transform: rotate(45deg);
    }

    &:after
    {
        content: "";
        @include box-absolute(-2px, -2px, -2px, -2px);
        border: 1px solid rgb(43, 147, 255);
    }

    [class^="a-"], [class*=" a-"] 
    {
        //background: #05a8ff;
    }

    &[data-drag='false'] 
    {
        cursor: auto;
        border-color: rgba(117, 117, 114, 0.842);
        border-style: dashed;

        &:before { background: rgba(117, 117, 114, 0.842); }
    }

    &.anchor-disable
    {
        .anchor { display:none; }
    }

    .a-l, .a-r 
    { 
        margin-left: -$border-offset*0.5;
        margin-top: -$border-offset/5;

        &:before
        {
            content: "";
            background: #f123e2;
            @include box($border-offset*0.5-$anchor-size*0.5, 50%, $anchor-size, $anchor-size);
        }
    }
    .a-u, .a-d 
    {
        margin-top: -$border-offset*0.5; 
        margin-left: -$border-offset/5;
        
        &:before
        {
            content: "";
            background: #f123e2;
            @include box(50%, $border-offset*0.5-$anchor-size*0.5, $anchor-size, $anchor-size);
        }
    }
    
    .a-dr, .a-dl, .a-ul, .a-ur
    {
        z-index: 25;
        margin-top: -$anchor-size*0.5;
        margin-left: -$anchor-size*0.5;
        background: #f123e2;

        &:before
        {
            content: "";
            @include box(-$corner-offset, -$corner-offset, $corner-offset * 2, $corner-offset * 2);
        }

    }

    .a-u
    {
        @include box(0, 0, 100%, $border-offset);
        cursor: n-resize;
        
    }

    .a-d
    {
        @include box(0, 100%, 100%, $border-offset );
        cursor: n-resize;
    }

    .a-l
    {
        @include box(0, 0, $border-offset, 100% );
        cursor:e-resize;
    }

    .a-r
    {
        @include box(100%, 0, $border-offset, 100% );
        cursor:e-resize;
    }

    .a-ul
    {
        @include box(0, 0, $anchor-size, $anchor-size );
        cursor:nw-resize;
    }

    .a-ur
    {
        @include box(100%, 0, $anchor-size, $anchor-size );
        cursor:ne-resize;
    }

    .a-dl
    {
        @include box(0, 100%, $anchor-size, $anchor-size );
        cursor:ne-resize;
    }

    .a-dr
    {
        @include box(100%, 100%, $anchor-size, $anchor-size );
        cursor:nw-resize;
    }

}