/[Dd]esign/
/[Dd]ist/
/[Tt]emp/
/[Bb]uild/
/[Bb]ower_components/
/[Nn]ode_modules/
/[Rr]eference/
/[Cc]overage/
/[Tt]mp/
/[Tt]emp/
/offline/data
.tmp
.sass-cache
test/bower_components
build.zip

.DS_Store

/.idea/
cae.iml
