<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/w.main.css">
    <link rel="stylesheet" href="css/w.edit.css">
</head>
<body>

    <script src="js/main.js"></script>
    <script>
        //var stage = new W.WEdit(document.body);
        //stage.addWidget("main", { "template":"text", "data":{"content":"Ola wedit"} });

        var stage = new W.WEdit(document.body);
        for( let i = 0 ; i < 20 ; i++ )
            stage.addWidget("main", {"template": "text", "data":{"content": "linha "+(i+1)}});
        //stage.addChild(new W.Display("header", "test"));
    </script>
</body>
</html>