<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/w.main.css">
    <link rel="stylesheet" href="css/w.edit.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-6" style="background:red;">Ola 1</div>
            <div class="col-6" style="background:blue;">Ola 2</div>
        </div>
    </div>

    <script src="js/wedit.js"></script>
    <script>
        //var stage = new W.WEdit(document.body);
        //stage.addWidget("main", { "template":"text", "data":{"content":"Ola wedit"} });

        var stage = new W.WEdit(document.body, "relative-layout");
        //stage.disable();


        W.WEdit.addTemplate("box", 
            "<div id='{{id}}' style='position:absolute; width:100px; height:100px;'></div>"
        );


        var relative = stage.addWidget("list",{
            "template": "relative-layout",
            "data":{
                "style":"border: 1px solid red;position:absolute;left:500px;top:50px;",
                "layout-style":"position:relative;width:500px;height:400px;"
            }
        });
        var vertical1 = stage.addWidget("list", {
            "template": "vertical-layout",
            "data": {
                "style": "border: 1px solid blue;position:absolute;left:1000px;top:50px;",
                "layout-style": "position:relative;width:500px;height:400px;"
            }
        });
        var vertical2 = stage.addWidget("list", {
            "template": "vertical-layout",
            "data": {
                "style": "border: 1px solid blue;position:absolute;left:2px;top:300px;",
                "layout-style": "position:relative;width:500px;height:400px;"
            }
        });
        var row = stage.addWidget("list", {
            "template": "vertical-layout",
            "data": {
                "style": "border: 1px solid blue;position:absolute;left:2px;top:300px;",
                "layout-style": "position:relative;width:500px;height:400px;"
            }
        });

        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:100px;top:100px;background: red;" }
        });

        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:250px;top:70px;background:blue;" }
        });

        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:200px;top:250px;background:purple;" }
        });

        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:350px;top:200px;background:brown;" }
        });

        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:480px;top:300px;background:yellow;" }
        });
        
        stage.addWidget("list",
        {
            "template":"box",
            "data":{ "style":"left:350px;top:500px;background:green;" }
        });
        

        // widget = stage.addWidget("container", {
        //     "template": "lista"
        // });

        // stage.addWidget("container", 
        // { 
        //     "template": "text",
        //     "data": { 
        //         "content": "Corpo de texto",
        //         "style": {
        //             "default":"background:red;border:1px solid blue;margin-top:20px;"
        //         } 
        //     }
        // });

        




        // for( let i = 0 ; i < 20 ; i++ )
        //     stage.addWidget("main", {"template": "text", "data":{"content": "linha "+(i+1)}});
        //stage.addChild(new W.Display("header", "test"));
    </script>
</body>
</html>