<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/w.main.css">
    <link rel="stylesheet" href="css/w.edit.css">
</head>
<body>

    

    <script src="js/main.js"></script>
    <script>
        //var stage = new W.WEdit(document.body);
        //stage.addWidget("main", { "template":"text", "data":{"content":"Ola wedit"} });

        var stage = new W.WEdit(document.body, "vertical-layout");
        stage.disable();
        // var widget = new W.Widget({ "template": "text", "data": { "content": "Diferente" } });
        // stage.addWidget("main", widget);
        


        W.WEdit.addTemplate("lista", 
        "<div class='lista-wrapper' data-class='{{minhaclasse}}'>"+
        "   <p>{{meutexto}}</p>"+
        "   <ul data-style='{{meuestilo}}' data-qualquer='{{meuatributo}}' data-type='VerticalLayout'>{{minhalista}}</ul>" +
        "</div>"
        );

        stage.addWidget("list",{
            "template": "lista",
            "data":{
                "meutexto":"allan",
                "minhaclasse":"container align-itens-center",
                "meuatributo":"ola atributo",
                "meuestilo":"margin-top:20px;background:red;",
                "minhalista":[
                    {"template":"text", "data":{"text":"Nicole 1"}},
                    {"template":"text", "data":{"text":"Nicole 2"}},
                    {"template":"text", "data":{"text":"Nicole 3"}}
                ]
            }
        });

        stage.addWidget("list",{
            "template": "lista",
            "data":{
                "meuestilo":{"500px":"margin-top:20px;background:red;min-height:40px"}
            }
        });

        // widget = stage.addWidget("container", {
        //     "template": "lista"
        // });

        // stage.addWidget("container", 
        // { 
        //     "template": "text",
        //     "data": { 
        //         "content": "Corpo de texto",
        //         "style": {
        //             "default":"background:red;border:1px solid blue;margin-top:20px;"
        //         } 
        //     }
        // });

        




        // for( let i = 0 ; i < 20 ; i++ )
        //     stage.addWidget("main", {"template": "text", "data":{"content": "linha "+(i+1)}});
        //stage.addChild(new W.Display("header", "test"));
    </script>
</body>
</html>