$ui-bg-header: #393939;
$ui-bg-body: #535353;
$ui-border: #282828;
$ui-border-sep: #6c6c6c;

@mixin disable-user-select()
{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin shadow($offsetX:5px, $offsetY:5px, $opacity:0.2)
{
    -webkit-box-shadow: $offsetX $offsetY 0px 0px rgba(0,0,0,$opacity);
    -moz-box-shadow: $offsetX $offsetY 0px 0px rgba(0,0,0,$opacity);
    box-shadow: $offsetX $offsetY 0px 0px rgba(0,0,0,$opacity);
}

.ui-cursor-drag
{
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.ui-cursor-dragging
{
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}

.ui-window
{
    font-size: 16px;
    font-weight: 500;
    color: white;
    position: fixed;
    left: 200px;
    top: 200px;
    width: 300px;
    z-index: 1000;

    background: $ui-bg-body;
    border: 1px solid $ui-border;

    display: flex;
    flex-direction: column;

    @include shadow();
    @include disable-user-select();

    .ui-window-header
    {
        @extend .ui-cursor-drag;
        background: $ui-bg-header;
        padding: 8px 14px;
        border-bottom: 1px solid $ui-border-sep;
    }   
    
    .ui-window-body
    {
        border-top: 1px solid $ui-border;
        //height: 325px;
        padding: 10px 8px;
        overflow-y: auto;

        
    }
}

.ui-input
{
    color: white;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    margin-bottom: 4px;

    *
    {
        vertical-align: middle;
        line-height: 22px;
        height: 22px;
    }

    .ui-input-label
    {
        margin: 0;
        min-height: auto;
        padding: 0 8px;

        cursor: -moz-e-resize;
        cursor: -webkit-e-resize;
        cursor: e-resize;

        &:empty { display: none; }
    }

    .ui-input-body
    {
        position: relative;
        border: 1px solid #303030;
        background: #3a3a3a;

        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;

        input
        {
            font-size: 12px;
            background: transparent;
            border-width: 0;
            color: inherit;
            padding: 0 6px;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }
}

.ui-select
{
    color: white;
    font-size: 13px;
    line-height: 15px;
    display: flex;

    *
    {
        vertical-align: middle;
        line-height: 22px;
        height: 22px;
    }
    .ui-select-label
    {
        margin: 0;
        min-height: auto;
        padding: 0 8px;
    }

    .ui-select-data
    {
        color: white;
        position: relative;
        border: 1px solid #303030;
        background: #3a3a3a;

        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}

.ui-background
{
    @include box-absolute;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}

.ui-textarea 
{
    .ui-textarea-label
    {
        font-size: 10px;
        color: rgb(190, 190, 190);
    }

    textarea
    {
        display: block;
        //resize: vertical;
        resize: none;
        width: 100%;
    }
}

.ui-button
{
    margin: 6px 6px 0 0;
}

.ui-h-group
{
    .ui-h-group-container
    {
        display: flex;

        &>*
        {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
    }
}

.ui-grid-group
{
    .ui-grid-group-container
    {
        display: flex;
        flex-wrap: wrap;

        // &>*
        // {
        //     -ms-flex-preferred-size: 0;
        //     flex-basis: 0;
        //     -webkit-box-flex: 1;
        //     -ms-flex-positive: 1;
        //     flex-grow: 1;
        //     max-width: 100%;
        // }
    }
}

.ui-template
{
    .ui-template-list
    {

    }
}

.ui-template-item
{
    height: 100px;
    background: #deecfb url("../img/icons/ic_movie.svg") no-repeat center center;
    margin-bottom: 2px;
}


.w-ui-toolbar
{
    position: absolute;
    z-index: 99999;

    &>*
    {
        display: flex;
        -webkit-box-pack: end!important;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
    }

    &>div>*
    {
        border-radius: 100%;
        width: 20px;
        height: 20px;
        z-index: $z-gizmos-selection+10;
        margin: -10px 2px 0 0;
        background-size: 10px;

        @include shadow(2px, 2px);
    }

    .edit
    {
        background: rgb(93, 109, 255) url("../img/icons/ic_pencil_2.svg") no-repeat center center;
        border: 1px solid rgb(73, 91, 250);

        &:hover { background-color: rgb(64, 82, 247); }
    }

    .delete
    {
        background: rgb(255, 93, 93) url("../img/icons/ic_delete.svg") no-repeat center center;
        border: 1px solid rgb(250, 73, 73);

        &:hover { background-color: rgb(247, 64, 64); }
    }
}



body .ui-grid-group
{
    background: #616161;
    border: 1px solid grey;
}

body .ui-thumb
{
    max-width: 158px !important;
    //width: 600px;
    width: 154px;
    height: 90px;
    overflow: hidden;
    border: 3px solid rgb(155, 155, 155);
    background: white;
    text-align: center;
    position: relative !important;
    margin: 6px;
    cursor: pointer;

    img 
    {
        //max-width: 140px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &:hover
    {
        border-color: rgb(112, 112, 255);
    }
}



.ui-label
{
    font-size: 13px;
    color: #c7c7c7;
    font-weight: normal;
}