.w-layout-relative
{
    position: relative !important;
    &>* { position: absolute !important; }
}

.w-layout-vertical
{
    position: relative !important;
    &>* 
    { 
        position:initial !important; 
        //width:auto !important; 
        left: auto !important;
        right: auto !important;
        top: auto !important;
        bottom: auto !important;
    }
}

.w-layout-absolute
{
    @extend .w-layout-vertical;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

.w-layout-row
{
    @extend .row;
    position: relative;
}