body .w-layout-relative
{
    position: relative;
    &>* { position: absolute; }
}

body .w-layout-vertical
{
    position: relative;
    &>* 
    { 
        position:initial; 
        //width:auto; 
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }
}

body .w-layout-absolute
{
    @extend .w-layout-relative;
    position: absolute ;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.w-layout-row
{
    @extend .row;
    position: relative;
}

.w-layout-flex
{
    @extend .d-flex;
    position: relative;
}